<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="icon" type="image/x-icon" href="/imgs/clubs.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/create-event.css}">

<style>
    body {
        background:  linear-gradient(blanchedalmond, green)no-repeat center center fixed;
        background-size: cover;
        margin-top: 100px;
    }
    .col-md-6 {
        width: 50%;
        box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
        border-radius: 5px;
        backdrop-filter: blur(50px);
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
    }


    input[type="radio"] {
        filter: hue-rotate(-0.25turn);
    }
</style>

</head>
<nav th:replace="~{partials/navbar.html :: navbar}"></nav>
<body>

<form id="eventForm" th:method="POST" th:action="@{/events/create-event}" th:object="${event}">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <h2 class="mb-3 text-center">Create New Event</h2>
                <hr>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                              required></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="start-time" class="form-label">Start Time:</label>
                        <input type="datetime-local" class="form-control" id="start-time" th:field="*{date_time_start}"
                               required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="end-time" class="form-label">End Time:</label>
                        <input type="datetime-local" class="form-control" id="end-time" th:field="*{date_time_end}"
                               required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control" id="location" th:field="*{course}" required>
                </div>
                <div class="mb-3">
                    <label id="is_18" for="is_18"  th:field="*{is_18}" class="form-label">Event Age Requirement 18 & Over</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-yes" th:field="*{is_18}" value="true" required>
                        <label class="form-check-label" for="age-yes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-no" th:field="*{is_18}" value="false" required>
                        <label class="form-check-label" for="age-no">No</label>
                    </div>
                </div>
                <button id="add-event-button" type="submit" class="btn btn-outline-success">Create Event</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/calendar.js}" type="module"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>