<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Calendar and Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!--    <script src='fullcalendar/dist/index.global.js'></script>-->
    <link rel="icon" type="image/x-icon" href="/imgs/clubs.png">

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/calendar.js}" type="module"></script>

    <style>
        body {
            /* Add padding due to fixed navbar position */
            margin-top: 100px;
        }
    </style>

</head>

<body>
<nav th:replace="~{partials/navbar.html :: navbar}"></nav>

<h1 class="header text-center">My Event</h1>

<!--Events Start -->
<div class="container-fluid">
    <div class="row">
        <div class="calendar">

            <form th:action="@{/calendar}" th:method="post">

                <div id='calendar'></div>
                <br>

            </form>

            <div class="event-group" th:each="event: ${allEvents}">
                <input type="hidden" th:value="${event.id}">
                <input type="hidden" th:value="${event.title}">
                <input type="hidden" th:value="${event.description}">
                <input type="hidden" th:value="${event.date_time_start}">
                <input type="hidden" th:value="${event.host.id}">
            </div>
        </div>
        <div class="cards">
            <div class="row d-flex flex-wrap justify-content-evenly overflow-y-scroll" style="height: 650px">
                <th:block th:each="event : ${allEvents}">


                    <div class="card" style="height: fit-content">
                        <div class="card-title">
                            <h4 th:text="${event.title}"></h4>
                        </div>

                        <div class="card-body">
                            <div class="card-text">
                                <strong> Course:</strong>
                                <p class="card-title" th:text="${event.course}"></p>
                                <strong>Date:</strong>
                                <p th:text="${event.date_time_start.getMonth()} + ' ' + ${event.date_time_start.getDayOfMonth()}"></p>
                                <strong>Start Time:</strong>
                                <p th:text="${event.date_time_start.getHour()} + ':' + ${event.date_time_start.getMinute()}"></p>
                                <strong>End Time: </strong>
                                <p th:text="${event.date_time_end.getHour()} + ':' + ${event.date_time_start.getMinute()}"></p>
                                <strong>Description: </strong>
                                <p th:text=" ${event.description} "></p>
                                <form th:action="@{/events/{id}/edit(id=${event.id})}" method="get">
                                    <input type="hidden" name="_method" value="edit"/>
                                    <button type="submit" class="btn btn-outline-success">Edit</button>
                                </form>
                                <form th:action="@{/deleteEvent/{eventId}(eventId=${event.id})}" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-outline-success">Delete</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</div>

<div class="cards col-md-6 row d-flex flex-wrap justify-content-evenly">
    <div th:each="event : ${allUserEvents}">
        <div class="container">

            <div class="card">
                <div class="card-title">
                    <p th:text="${event.title}"></p>

                    <div class="card-body">
                        <p class="card-title" th:text="${event.course}"></p>
                        <div class="card-text">

                            <p th:text="${event.date_time_start}">Start Time: </p>
                            <p th:text="${event.date_time_end}">End Time: </p>
                            <p th:text=" ${event.description} "></p>
                            <form th:action="@{/userEvents/{eventId}/remove(eventId = ${event.id})}" method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" class="btn btn-outline-success">Remove Event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/calendar.js" type="module"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.4/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.4/index.global.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

</body>

</html>